.devices-ctlr{
	padding: 30px 20px 30px 22px;
	background: #f1f2f8;
}
.devices-top span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 20px;
	color: #000028;
	margin-right: 35px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize; 
}


.devices-analysis-left{
	float: left;
	width: 27.6497%;
	padding-right: 25px;
}
.devices-temp-chart{
	float: right;
	width:  63.2258%;
}

.devices-analysis-left-inr{
	padding: 20px 25px 140px 22px;
	background: #E1E3EB;
	border-radius: 5px;
}
.devices-analysis-left-inr span,
.devices-search span{
	display: block;
	font-size: 14px;
	color: #4C5E6F;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 400;
}
.decices-select{
	margin-bottom: 25px;
}

.devices-checkbox ul li label{
	padding-left: 25px;
	position: relative;
	font-size: 14px;
	color: #000028;
	font-weight: 700;
}
.devices-checkbox ul li label input{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	height: 16px;
	width: 16px;
	border: 1px solid #fff;
}

.devices-temp-chart{
	padding: 18px 20px 8px 22px;
	background: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
	-moz-box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
	box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
}

.devices-top-img{
	margin-bottom: 42px;
}

.devices-ctlr .ntfsn-cntn-top-lft-srch{
	margin-left: 0px;
    height: 39px;
    max-width: 230px;
    width: 100%;
    margin-bottom: 20px;
}
.devices-ctlr .ntfsn-cntn-top-lft-srch input {
    padding-left: 45px;
}

