.devices-ctlr{
	padding: 30px 20px 30px 22px;
	background: #f1f2f8;
}

.devices-top{
	margin-bottom: 25px;
	display: flex;
	align-items: center;
}
.devices-top span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 20px;
	color: #000028;
	margin-right: 35px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize; 
}


.devices-analysis-left{
	float: left;
	width: 30%;
	padding-right: 25px;
}
.devices-temp-chart{
	float: right;
	width: 70%;
}

.devices-analysis-left-inr{
	padding: 20px 25px 95px 22px;
	background: #E1E3EB;
	border-radius: 5px;
}

.devices-search > span,
.detailed-analysis > span{
	display: block;
	font-size: 14px;
	color: #4C5E6F;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 400;
}
.decices-select{
	margin-bottom: 25px;
}

.decices-select .pv-select-field .bootstrap-select button{
	font-size: 13px;
    color: #4C5E6F;
    font-weight: 400;
    border-radius: 5px;
    border: 0;
    width: 230px;
    height: 35px;
    text-transform: capitalize;
    padding: 8px 12px 10px 12px;
}
.decices-select .pv-select-field .dropdown-toggle::before{
	background-image: url(../images/select-down-arrow-black.svg) !important;
}

.devices-checkbox ul li label{
	padding-left: 25px;
	position: relative;
	font-size: 14px;
	color: #000028;
	font-weight: 700;
}
.devices-checkbox ul li label input{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	height: 16px;
	width: 16px;
	border: 1px solid #fff;
}

.devices-temp-chart{
	padding: 18px 20px 8px 22px;
	background: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
	-moz-box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
	box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
}

.devices-top-img{
	margin-bottom: 42px;
}

.devices-ctlr .ntfsn-cntn-top-lft-srch{
	margin-left: 0px;
    height: 39px;
    max-width: 230px;
    width: 100%;
    margin-bottom: 20px;
}
.devices-ctlr .ntfsn-cntn-top-lft-srch input {
    padding-left: 45px;
}


.plant-top-lft-select .bootstrap-select .dropdown-menu li a span.text,
.decices-select .bootstrap-select .dropdown-menu li a span.text{
	font-size: 12px;
}
.decices-select .bootstrap-select .dropdown-menu li a span.text{
	margin-bottom: 0;
}

.devices-ctlr .filter-check-row .checkmark::after {
    left: 4px;
    top: 1px;
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
	.decices-select .pv-select-field .bootstrap-select button{
		width: 200px;
	}
	.devices-analysis-left-inr{
		padding-bottom: 5px;
	}
}

@media(max-width: 1199px){
	.devices-analysis-left {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	}
	.devices-temp-chart{
		width: 100%;
	}
	.decices-select .pv-select-field .bootstrap-select button {
	    width: 230px;
	}
	.devices-analysis-left-inr .filter-check-row{
		padding-bottom: 5px;
	}
	.devices-analysis-left-inr {
	    padding-bottom: 20px;
	}
	.devices-analysis-left-inr form{
		display: flex;
	}
	.detailed-analysis{
		order: 2;
		width: 50%;
	}
	.devices-seacrch-filter-ctlr{
		order: 1;
		width: 50%;
	}

}

@media(max-width: 991px){
	.devices-top{
		margin-bottom: 15px;
	}
	.detailed-analysis{
		padding-left: 15px;
	}
	.devices-seacrch-filter-ctlr{
		width: 45%;
	}
	
}

@media(max-width: 767px){
	.devices-ctlr {
	    padding: 20px 20px 20px 20px;
	}
	.devices-analysis-left-inr{
		padding: 20px 20px 30px 20px;
	}
	.devices-analysis-left-inr span, 
	.devices-search span{
		margin-bottom: 10px;
	}
	.devices-analysis-left-inr form {
	    display: block;
	}
	.detailed-analysis {
	    padding-left: 0;
	    width: 100%;
	}
	.devices-seacrch-filter-ctlr {
	    width: 100%;
	}

}

@media(max-width: 575px){
	.devices-top span{
		font-size: 18px;
	}
	
	

}

@media(max-width: 479px){
	.devices-top{
		display: initial;
	}
	.devices-top span {
	    margin-right: 0;
	    margin-bottom: 10px;
	}
	.devices-ctlr .plant-top-lft-select{
		margin-bottom: 10px;
	}
	.decices-select .pv-select-field .bootstrap-select button {
	    width: 205px;
	}

}

@media(max-width: 359px){
	.decices-select .pv-select-field .bootstrap-select button {
	    width: 160px;
	}
}


