.documents-sec{
	padding-left: 235px;
	background: #f1f2f8;
}
.documents-sec-cntlr{
	padding: 0 18px;
	padding-bottom: 12px;
}
.documents-cntn-cntlr{
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 4px 10px rgba(0,0,0,.07);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 110px;
}
.documents-cntn-top{
	display: flex;
	justify-content: flex-end;
	padding: 24px 0;
}

.documents-items-cntlr{

}
.documents-items-cntlr table{
	width: 100%;
}
.documents-items-cntlr table tbody tr td{
	padding-top: 22px;
	padding-bottom: 20px;
	border-bottom: 1px solid #EEF0F4;
}
.documents-items-cntlr table tbody tr td:nth-child(1){
	padding-left: 35px;
	min-width: 155px;
	font-size: 12px;
}
.documents-items-cntlr table tbody tr td:nth-child(2){
	font-size: 13px;
	min-width: 300px;
	text-transform: capitalize;
}
.documents-items-cntlr table tbody tr td:nth-child(3){
	font-size: 13px;
	min-width: 130px;
}
.documents-items-cntlr table tbody tr td:nth-child(4){
	min-width: 350px;
	font-size: 13px;

}
.documents-items-cntlr table tbody tr td:nth-child(5){
	min-width: 130px;
	font-size: 13px;
	color: #4C5E6F;
}
.dcmnt-item-btn{
	position: relative;
	display: inline-block;
	padding-right: 25px;
}
.dcmnt-item-btn a{
	color: #4C5E6F;
}
.dcmnt-item-btn i{
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
}
.dcmnt-item-btn a:hover{
	color: #00D3AA;
}
.documents-item-expired{
	color: #E5576C;
	font-weight: 700;
}
.documents-item-pending{
	color: #F15A12;
	font-weight: 700;
}
.documents-item-paid{
	color: #00D3AA;
	font-weight: 700;
}


@media(max-width: 1499px){
	.documents-items-cntlr table tbody tr td:nth-child(1){
		min-width: 120px;
		padding-left: 20px;
	}
	.documents-items-cntlr table tbody tr td:nth-child(2){
		min-width: 180px;
	}
	.documents-items-cntlr table tbody tr td:nth-child(3){
		min-width: 80px;
	}
	.documents-items-cntlr table tbody tr td:nth-child(4){
	    min-width: 200px;
	}
	.documents-items-cntlr table tbody tr td:nth-child(5){
		min-width: 90px;
	}
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}
@media(max-width: 1199px){

}

@media(max-width: 991px){
	.documents-items-cntlr table tbody tr td:nth-child(1){
		min-width: 90px;
		padding-left: 10px;
	}
	.documents-items-cntlr table tbody tr td:nth-child(2){
		min-width: 170px;
	}
	.documents-items-cntlr table tbody tr td:nth-child(3){
		min-width: 70px;
	}
	.documents-items-cntlr table tbody tr td:nth-child(4){
	    min-width: 60px;
	}
	.documents-items-cntlr table tbody tr td:nth-child(5){
		min-width: 78px;
	}
}

@media(max-width: 767px){
	.documents-cntn-cntlr{
		margin-left: 18px;
		margin-right: 18px;
	}
}
@media(max-width: 639px){
	.documents-sec-cntlr{
		padding-left: 0;
		padding-right: 0;
	}
	.ntfsn-top{
		padding-right: 18px;
		padding-left: 18px;
	}
	.documents-items-cntlr table tbody tr td:nth-child(1){
		min-width: 72px;
		padding-left: 0;
	}
	.documents-items-cntlr table tbody tr td:nth-child(2){
		min-width: 163px;
	}
	.documents-items-cntlr table tbody tr td:nth-child(3){
		min-width: 57px;
	}
	.documents-items-cntlr table tbody tr td:nth-child(4){
	    min-width: 55px;
	}
	.documents-items-cntlr table tbody tr td:nth-child(5){
		min-width: 78px;
	}
}

@media(max-width: 575px){
	.documents-items-cntlr{
		overflow-x: scroll;
	}
	.documents-items-cntlr table{
		
		width: 600px;
	}

}

@media(max-width: 479px){

}


/*.header,
.left-sidebar{
	display: none;
}*/