.header{
	padding: 22px 25px;
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	right: 0;
}

.header-inr{
	display: flex;
	align-items: center;
}
.hdr-lft{
	display: flex;
	align-items: center;
}
.hdr-rgt{
	margin-left: auto;
	display: flex;
	align-items: center;
}
.hdr-shortcut,
.hdr-notification,
.hdr-lang,
.hdr-lang,
.hdr-profile{
	display: inline-block;
	vertical-align: baseline;
}

.humbergar-cntlr{
	position: relative;
}
.humbergar-icon{
	position: relative;
	height: 20px;
	width: 24px;
	cursor: pointer;
}
.humbergar-icon span{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 2px;
	width: 24px;
	background: #FFFFFF;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.humbergar-icon span:nth-child(2){
	top: 8px;
}
.humbergar-icon span:nth-child(3){
	top: 16px;
}
.humbergar-cntlr{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 25px;
}
.hdr-logo{
	display: inline-block;
	vertical-align: baseline;
}

.hdr-shortcut{
	margin-right: 40px;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.hdr-shortcut:hover{
	opacity: 0.5;
}
.hdr-shortcut-ctlr{
	display: flex;
	align-items: center;
}
.hdr-shortcut-ctlr i{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 10px;
}
.hdr-shortcut-ctlr strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 11px;
	color: #fff;
	font-family: 'Futura LT Book';
}

.hdr-notification{
	margin-right: 30px;
	position: relative;
}
.hdr-notification a{
	display: inline-block;
	vertical-align: baseline;
	
}
.hdr-notification a:hover{
	opacity: 0.5;
}
.hdr-notification span{
	position: absolute;
	top: 0;
	right: 0;
	height: 9px;
	width: 9px;
	background: #FA2222;
	border-radius: 100%;
}

.fl-lang{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 35px;
}
.fl-lang-cntlr{
	position: relative;
	min-height: 24px;
	margin-right: -10px;
	padding-left: 5px;
	width: 70px;
}
.fl-lang ul li.lang-active{
	position: relative;
	opacity: 1;
	padding-top: 0;
	text-align: right;
	padding-right: 10px;
}
.fl-lang ul li.lang-active a{
	color: #DAE0E6;
	padding-right: 10px;
}
.fl-lang ul li.lang-active a:hover{
	color: #fff;
}
.fl-lang ul li{
	position: absolute;
	left: 0;
	right: 0;
	padding-left: 5px;
	padding-right: 5px;
	opacity: 0;
	z-index: 22;
	padding-bottom: 0px;
	padding-top: 4px;
	background: transparent;
}
.fl-lang ul li a{
	color: #DAE0E6;
	font-size: 13px;
	line-height: 1;
	font-weight: 700;
	text-transform: capitalize;
	text-align: right;
	position: relative;
	padding-right: 10px;
}
.fl-lang ul li a:after{
	content: "";
	position: absolute;
	bottom: -14px;
	left: 50%;
	transform: translateX(-50%);
	width: 25px;
	background: #475379;
	height: 1px;
}
.fl-lang ul li.lang-active a:after,
.fl-lang ul li:last-child a:after{
	content: none;
}

.fl-lang-cntlr:after{
	content: "";
    background: url(../images/hdr-down-arrow.png);
    width: 10px;
    height: 7px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    line-height: 15px;
    z-index: 21;
}
.fl-lang ul li a:hover{
	color: #fff;
}
.fl-lang-cntlr ul{
	position: absolute;
	left: 0;
	right: 0;
	top: -10px;
	z-index: -1;
	padding: 10px 10px 5px 5px;	
}
.fl-lang-cntlr:hover ul{
	text-align: right;
	z-index: 20;
}


.fl-lang-cntlr:hover{
	overflow: initial;
}
.fl-lang-cntlr:hover li.lang-active{
	padding-top: 0;
}
.fl-lang-cntlr:hover li.lang-active,
.fl-lang-cntlr:hover li{
	position: relative;
	opacity: 1!important;
	text-align: right;
	padding-right: 10px;
}
.fl-lang-cntlr li.lang-active a{
	font-size: 13px;
	text-align: right;
}

.hdr-profile-ctlr{
	display: flex;
	align-items: center;
}
.hdr-profile-ctlr i{
	margin-right: 10px;
	height: 36px;
	width: 36px;
	background: #00D3AA;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hdr-profile-ctlr strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 11px;
	color: #fff;
	font-family: 'Futura LT Book';
}




/*left sidebar*/

.left-sidebar{
	position: fixed;
	left: 0;
	top: 80px;
	bottom: 0;
	height: 100%!important;
	z-index: 2;
}

.left-sidebar{
	padding: 25px 15px 0 25px;
	background: #000028;
	width: 235px;
	height: 100%;
}
.left-sidebar-ctlr ul li{
	padding-top: 10px;
	padding-bottom: 10px;
}
.left-sidebar-ctlr ul li a{
	display: flex;
	align-items: center;
	position: relative;
}
.left-sidebar-ctlr ul li a i{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 22px;
}
.left-sidebar-ctlr ul li a span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	color: #b3bdc7;
	font-weight: 400;
}
.left-sidebar-ctlr ul li a strong{
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	font-weight: 700;
	background: #E5576C;
	padding: 4px 7px;
	border-radius: 15px;
	position: absolute;
	right: 0;
	top: 0;
}
.left-sidebar-ctlr ul li a:hover i svg{
	fill: #fff!important;
}
.left-sidebar-ctlr ul li a:hover span{
	color: #fff;
}
body ol.sitemap-pages{
	padding: 50px;
	list-style: decimal;
}


.pv-hdr-modal-content button img{
	max-width: 20px;
}
.pv-hdr-modal-des{
	padding: 20px 20px;
}
.pvhdr-modal-title{
	display: block;
	font-size: 18px;
	line-height: 1;
	margin-bottom: 20px;
	font-weight: 500;
}

.left-sidebar-collapse .left-sidebar-ctlr ul li a span{
	display: none;
}
.left-sidebar-collapse .left-sidebar-ctlr ul li a{
	display: inline-block;
}

.left-sidebar-collapse .left-sidebar-ctlr ul li a strong{
	right: 7px;
    top: -10px;
}
.left-sidebar-collapse .left-sidebar{
	width: 75px;
}
.left-sidebar-collapse .mainContentSection{
	padding-left: 75px;
}

.left-sidebar-collapse .humbergar-icon span{
	transform: rotate(45deg);
	top: 10px;
}
.left-sidebar-collapse .humbergar-icon span:nth-child(2){
	display: none;
}
.left-sidebar-collapse .humbergar-icon span:nth-child(3){
	transform: rotate(-45deg);
}








@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	
}

@media(max-width: 767px){
	.humbergar-cntlr{
		display: none;
	}
	.hdr-shortcut,
	.hdr-notification,
	.fl-lang{
		margin-right: 20px;
	}
	.left-sidebar-ctlr ul li a span{
		display: none;
	}
	.left-sidebar-ctlr ul li a{
		display: inline-block;
	}
	.left-sidebar{
		width: 75px;
	}
	.mainContentSection{
		padding-left: 75px;
	}


}

@media(max-width: 575px){
	.mainContentSection{
		padding-top: 127px;
	}
	.left-sidebar{
		top: 127px;
	}
	.header-inr{
		display: initial;
	}
	.hdr-shortcut, .hdr-notification, .fl-lang{
		margin-right: auto;
		margin-left: auto;
	}
	.hdr-logo{
		margin-right: auto;
		margin-left: auto;
	}
	.fl-lang ul li.lang-active,
	.fl-lang ul li a,
	.fl-lang-cntlr:hover ul,
	.fl-lang-cntlr:hover li.lang-active,
	.fl-lang-cntlr:hover li,
	.fl-lang-cntlr li.lang-active a{
		text-align: center;
	}
	

}

@media(max-width: 479px){
	.mainContentSection{
		padding-top: 165px;
	}
	.left-sidebar{
		top: 165px;
	}
	.hdr-shortcut,
	.hdr-notification{
		margin-bottom: 10px;
	}
	.hdr-rgt{
		display: initial;
	}
	.hdr-shortcut,
	.hdr-notification,
	.fl-lang,
	.hdr-profile{
		float: left;
		width: 50%;
		margin-right: 0;
	}
	.hdr-notification{
		text-align: left;
		padding-left: 7px;
	}
	.fl-lang ul li.lang-active,
	.fl-lang ul li a,
	.fl-lang-cntlr:hover ul,
	.fl-lang-cntlr:hover li.lang-active,
	.fl-lang-cntlr:hover li,
	.fl-lang-cntlr li.lang-active a{
		text-align: left;
	}
	.hdr-notification span{
		right: initial;
		left: 18px;
	}
	.hdr-rgt{
		display: block;
		max-width: 250px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.fl-lang-cntlr ul{
		padding-left: 0;
	}
	.fl-lang ul li.lang-active,
	.fl-lang-cntlr:hover li{
		padding-left: 0;
	}
	.fl-lang-cntlr{
		max-width: 50px;
	}

}

@media(max-width: 359px){

}


