.login-section-right{
	position: relative;
}
.popup-solar-heat-map{
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
/*	overflow-y: scroll;*/
	height: 100%;
	width: 100%;
	padding-top: 20px;
}
.popup-solar-heat-map-cntlr{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff;
	z-index: 10;
	display: none;
}
.popup-solar-heat-map{
	text-align: center;
}

.popup-solar-heat-map img{
	display: inline-block;
	vertical-align: baseline;
}

.popup-solar-heat-map .heatmap-btm{
	right: auto;
	left: 90px;
	bottom: 33px;
	display: flex;
	align-items: center;
}
.popup-solar-heat-map .heatmap-btm-img{
	padding-right: 15px;
}

.popup-close{
	position: absolute;
	right: 22px;
	top: 22px;
	width: 40px;
	height: 40px;
	background: #E8E8E8;
	border-radius: 100% 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 22;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.popup-close:hover{
	background: #BEBBBB;

}

.pvmap-sec-title{
	text-transform: uppercase;
	margin-bottom: 0;
}
.pvmap-sec-topbar{
	background: #fff;
	padding: 60px 20px 20px 23px;
	display: flex;
	align-items: center;
}
.pvmap-sec-title{
	
}
.pvmap-sec-topbar-rgt{
	margin-left: auto;
	justify-content: flex-end;
}
.pvmap-sec-topbar-select{
	display: flex;
	align-items: center;
}

.pvmap-sec-topbar-select .pv-select-field:first-child{
	margin-right: 5px;
}
.pvmap-sec-topbar-select .pv-select-field{
	position: relative;
}
.pvmap-sec-topbar-select .pv-select-field:after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 1px;
	height: 23px;
	background: #DAE0E6;
	right: -3px;
}
.pvmap-sec-topbar-select .pv-select-field:last-child:after{
	content: none;
}
.pvmap-sec-topbar-select .pv-select-field .bootstrap-select button{
	background: transparent!important;
	height: 35px;
}
.pvmap-sec-topbar-select{
	background: #fff;
	box-shadow: 0 4px 10px #BEBEBE;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 15px 0px rgba(241,242,242,1);
-moz-box-shadow: 1px 1px 15px 0px rgba(241,242,242,1);
box-shadow: 1px 1px 15px 0px rgba(241,242,242,1);
}


/*.left-top-cntlr{
	padding-left: 235px;
	padding-top: 80px;
}
*/



#storeMap .slider-itm1{
 	min-height:180px; 
 	width:100%;
 	background-size: cover !important;
 	background-position: center center !important;
}
.store-info{
	width: 100% !important;
	overflow: hidden !important; 
}
#storeMap .info-slider{
	width: 44%;
	float: left;
	max-width: 100%;
	z-index: 100;
	margin-bottom: 0;
}
.info-slider img{
	width: 100%;
}
.info-slider-con{
	margin-left: -21px;
	width: 56%;
	float: left;
	max-width: 100%;
	position: relative;
	padding: 10px 0px 10px 12px;
	text-align: center;
	font-size: 14px;
	color: #3a3f4c;
	line-height: 18px;
	font-family: 'OpenSansRegular';
	-ms-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);
    background: #fff;
    height: 180px;
    z-index: 101;
}
#storeMap .info-slider .slick-dots{
	bottom: 9px;
}
.info-slider-con:before{
	border-left: 7px solid #efc850;
    border-right: 5px solid transparent;
    border-bottom: 268px solid transparent;
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 160%;
    top: 0;
    left: -4px;
    z-index: -1;
    transform-origin: bottom left;
    -ms-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    transform: skew(-1deg, 0deg);
    z-index: 100000000000;
}
.info-con-inner{
	-ms-transform: skew(10deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);
    transform: skew(10deg, 0deg);
}
.info-slider-con h5.price{
	font-size: 18px;
	line-height: 20px;
	color: #bd7f18;
	margin: 0;
    font-family: 'OpenSansBoldItalic';
    margin-bottom: 6px;

}

.info-slider-con h4.name{
	font-size: 13px;
	line-height: 14px;
	color: #011541;
	margin: 0;
    font-family: 'OpenSansSemibold';
    text-transform: uppercase;
}
.info-slider-con h4.name:after{
	content: '';
	width: 90px;
	height: 1px;
	background: #8fafff;
	display: inline-block;
}
.info-slider-con p{
	position: relative;
	margin-top: 6px;
	margin-bottom: 5px;
}
.info-slider-con p:before {
    content: url(../images/location-ico.png);
    width: 20px;
    display: inline-block;
    height: 18px;
    vertical-align: middle;
}
.info-slider-con a{
	display: inline-block;
	background: #375cb8;
	font-size: 16px;
	color: #fff;
	padding: 6px 22px;
	border-radius: 20px;
	font-family: 'OpenSansSemiboldItalic';
	vertical-align: top;
	text-transform: uppercase;
}
.info-slider-con ul{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 12px;
	font-size: 16px;
	font-family: 'OpenSansRegular';
}
.info-slider-con ul li{
	display: inline-block;
	margin-left: 9px;
	vertical-align: baseline;
}
.info-slider-con ul li:first-child{
	margin-left: 0;
}

#storeMap .store-info-inner{
	width: 520px;
    border-bottom: 3px solid #efc850 !important;
    background: #fff;
    overflow: hidden;
}
[class*='si-shadow-wrapper']{
	opacity: 0;
}
.si-content-wrapper{
	background: transparent;
    margin-top: 25px;
}

#storeMap .custom-close {
    width: 38px;
    height: 38px;
    background: #fff;
    position: absolute;
    right: -30px;
    top: -19px;
    outline: 0!important;
    border: 2px solid #eff0f3;
    border-radius: 100%;
    z-index: 102;
    color: #9aa3b8;
    font-size: 20px;
    line-height: 1;
}
#storeMap .custom-close:hover{
	border: 2px solid #efc850;
}
.si-pointer-bg-top{
	border-top-color: #efc850;
}
#storeMap .box2 .store-info-inner{
	border-bottom: 3px solid #375cb8 !important;
}
#storeMap .box2 .si-pointer-bg-top{
	border-top-color: #375cb8;
}
#storeMap .box2 .info-slider-con:before{
	border-left: 7px solid #375cb8;
}
#storeMap .gmnoprint .gm-style-mtc,
#storeMap button.gm-fullscreen-control{
	display: none;
}



@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	
}

@media(max-width: 767px){
	.popup-solar-heat-map .heatmap-btm{
		left: 20px;
		bottom: 10px;
	}

}

@media(max-width: 575px){
	.login-section-right .login-info-wrapper .counters .counter .num{
		font-size: 43px!important;
	}
	.login-section-right .login-info-wrapper .counters .counter .title{
		font-size: 15px!important;
	}
	.login-section-right .login-info-wrapper > .title{
		font-size: 25px!important;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}