.Overview-grd-sec{
	padding-top: 80px;
	padding-left: 235px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.overview-grid-wrp{
	background: #f1f2f8;
}
.overview-grid-tp-wrp{
	background: #e1e3eb;
	padding: 20px 8px 25px;
}
.overview-grid-tp-wrp ul li{
	float: left;
	width: 25%;
	padding: 0 14px;
}
.overview-grid-box-tp-inr{
	background: #fff;
	padding: 20px 20px;
	border-radius: 6px 6px;
	border-top:6px solid#008CD8;
}
.overview-grid-box-tp-title{
	display: block;
	font-size: 12px;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.overview-grid-box-tp strong{
	display:block;
	font-size: 22px;
	line-height: 24px;
	color: #000028;
	padding-bottom: 2px;
}
.overview-grid-box-tp span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	font-weight: 400;
}

.overview-grid-swt-sle-wrp{
	padding: 15px 20px 20px;
}
.overview-select{
	float: right;
}