/*
-----------------------
ov-flow-chart-list-grds
-----------------------
*/
.ov-list-grid-tp-wrp ul li:nth-child(2) .overview-grid-box-tp-inr{
	border-top-color:#00D3AA;
}
.ov-list-grid-tp-wrp ul li:nth-child(3) .overview-grid-box-tp-inr{
	border-top-color:#4F28AB;
}
.ov-list-grid-tp-wrp ul li:nth-child(4) .overview-grid-box-tp-inr{
	border-top-color:#FD8D00;
}
.flow-chart-list-tb-wrp .overview-grid-swt-sle-wrp {
    padding: 15px 5px 20px 5px;
}
.flow-chart-list-tb-wrp{
	padding-left: 12px;
	padding-right: 25px;
}
.ov-flow-chart-list-grds{
	background: #fff;
	border-radius: 5px 5px 0 0;
	padding-left:12px;
	padding-right: 55px; 
	padding-bottom: 40px;
}
.ov-flow-chart-list-grd-head-wrp ul li{
	width: 100%;
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	margin-bottom: 20px;
}
.ov-flow-chart-list-grd-head-wrp ul li:first-child{
	margin-bottom: 0;
}
.ov-flow-chart-list-inr {
    background: #F1F2F8;
    border-radius: 5px 5px;
    border-left: 5px solid#00D3AA;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 10px;
}
.ov-flow-chart-list-head{
	float: left;
	padding: 24px 0 22px;
}
.ov-flow-list-h-col-1{
	width: 18%;
	padding-left: 20px;
}
.ov-flow-list-h-col-2{
	width: 14%;
}
.ov-flow-list-h-col-3{
	width: 15%;
}
.ov-flow-list-h-col-5,
.ov-flow-list-h-col-4{
	width: 16%;
}
.ov-flow-list-h-col-6{
	width: 12%;
}
.ov-flow-list-h-col-7{
	width: 9%;
}
.ov-flow-chart-list-head span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	line-height: 15px;
	color: #000028;
	font-weight: 600;
}
.ov-flow-chart-list-title{
	display: block;
	font-size: 15px;
	line-height: 1;
	color: #000028;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 1px;
}
.ov-flow-chart-list span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 14px;
	color: #000028;
	font-weight: 400;
}
.ov-flow-chart-list p{
	margin: 0;
	font-size: 12px;
	line-height: 1.5;
	font-weight: 400;
}
.ov-flow-chart-list strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 1.6;
	color: #000028;
}
.ov-flow-chart-list.ov-flow-list-h-col-5 span,
.ov-flow-chart-list.ov-flow-list-h-col-4 span{
	font-size: 11px;
	padding-top: 10px;
}
.ov-flow-chart-list.ov-flow-list-h-col-6 span {
    font-size: 15px;
    padding-left: 18px;
}
.ov-flow-chart-list.ov-flow-list-h-col-7 span{
	font-size: 19px;
	font-weight: 900;
	color: #fff;
	width: 54px;
	height: 54px;
	background:#00D3AA;
	border-radius: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ov-flow-chart-list-inr > span{
	position: absolute;
	right: -38px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.ov-flow-list-h-col-5,
.ov-flow-list-h-col-4{
	position: relative;
}
.ov-flow-chart-hover{
    background: #000028;
    border-radius: 5px 5px;
    max-width: 129px;
    width: 100%;
    padding: 3px 10px 6px;
    line-height: initial;
    position: absolute;
    top: -50px;
    left: -20px;
    opacity: 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.ov-flow-list-h-col-4:hover .ov-flow-chart-hover,
.ov-flow-list-h-col-5:hover .ov-flow-chart-hover{
	opacity: 1;
	transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
} 
.ov-flow-chart-hover:after{
   content: "";
   width: 0;
   height: 0;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 5px solid #000028;
   position: absolute;
   bottom: -5px;
   left: 50%;
   transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
}
.ov-flow-chart-hover > span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 11px;
	line-height: 13px;
	color: #fff !important;
	font-weight: 400;
	padding-top: 0 !important;
}
.ov-flow-chart-hover > strong{
	display: inline-block !important;
	vertical-align: baseline !important;
	font-size: 11px !important;
	line-height: 13px !important;
	color: #fff;
	font-weight: 700 !important;
}
