.Overview-grd-sec{
	padding-left: 235px;
	height: 400px;
}
.overview-grid-wrp{
	background: #f1f2f8;
}
.overview-grid-tp-wrp{
	background: #e1e3eb;
	padding: 20px 8px 25px;
}
.overview-grid-tp-wrp ul{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.overview-grid-tp-wrp ul li{
	float: left;
	width: 25%;
	padding: 0 14px;
}
.overview-grid-box-col{
	background: #fff;
	padding: 20px 20px;
	border-radius: 5px 5px;
	border-top:6px solid#008CD8;
}
.sky-top-bdr{
	border-color: #00D3AA;
}
.purple-top-bdr{
	border-color: #4F28AB;
}
.orange-top-bdr{
	border-color: #FD8D00;
}
.overview-grid-box-tp-title{
	display: block;
	font-size: 12px;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.overview-grid-box-tp-title-1{
	display:block;
	font-size: 22px;
	line-height: 1;
	color: #000028;
	margin-bottom: 2px;
	font-weight: 900;
}
.overview-grid-box-tp span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	font-weight: 400;
}

.overview-grid-swt-sle-wrp{
	padding: 15px 20px 20px;
}
.overview-select{
	float: right;
}
.overview-grid-btm-flow-wrp{
	padding-bottom: 80px;
}
.overview-grid-btm-flow-wrp ul{
	padding: 0 8px;
}
.overview-grid-btm-flow-wrp ul li{
	float: left;
	width: 25%;
	padding: 0 15px 25px;
}
.overview-grid-btm-flow-wrp ul li:nth-child(4n+1){
	clear: left;
}
.overview-grid-btm-flow-wrp ul li:nth-child(5) .overview-grid-box-btm-inr{
	border-color: #FD8D00;
}
.overview-grid-btm-flow-wrp ul li:nth-child(6) .overview-grid-box-btm-inr{
	border-color: #E5576C;
}
.overview-grid-box-btm-inr{
	background: #fff;
	padding: 20px 10px 15px;
	border-radius: 5px 5px;
	border-top:8px solid#00D3AA;
	position: relative;
}
.overview-grid-box-btm-inr > span{
	position: absolute;
	top: -12px;
	right: 0;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	font-weight: 700;
	border-radius: 50px 50px;
	background: #00D3AA;
	width: 34px;
	height: 18px;
	text-align: center;
	padding: 2px 6px;
}
.overview-grid-btm-flow-wrp ul li:nth-child(5) .overview-grid-box-btm-inr > span{
	background: #FD8D00;
}
.overview-grid-btm-flow-wrp ul li:nth-child(6) .overview-grid-box-btm-inr > span{
	background: #E5576C;
}

.overview-grid-box-chart-tp-title{
	display: block;
	font-size: 12px;
	line-height: 14px;
	color: #5F5F5F;
	font-weight: 400;
	margin-bottom: 8px;
}
.overview-grid-box-chart-title-1{
	display: block;
	font-size: 18px;
	line-height: 1;
	color: #000028;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 14px;
}
.overview-grid-box-chart-title-1 b{
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
}
.overview-grid-box-chart-inr{
	background: #F1F2F8;
	border-radius: 5px 5px;
	padding: 15px 12px 25px;
}
.overview-grid-box-chart-inr > span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 14px;
	color: #5F5F5F;
	padding-left: 18px;
	position: relative;
}
.overview-grid-box-chart-inr span i{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.overview-grid-box-chart{
	padding-top: 20px;
}
.overview-grid-box-chart-lft{
	width: 50%;
	float: left;
	padding-right: 12px;
}
.overview-grid-box-chart-rgt{
	width: 50%;
	float: right;
	padding-left: 12px;
}
.overview-grid-box-chart-rgt img,
.overview-grid-box-chart-lft img{
	width: 100%;
}
.overview-grid-box-chart-lr-title{
	display: block;
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
	color: #008CD8;
	margin-top: 5px;
	margin-bottom: 4px;
}
.overview-grid-box-chart-rgt .overview-grid-box-chart-lr-title{
	color: #00B3CA;
}
.overview-grid-box-chart-rgt span,
.overview-grid-box-chart-lft span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 14px;
	color: #5F5F5F;
}

.overview-grid-box-chart-btm-dsc{
	padding-top: 12px;
	padding-left: 10px;
	padding-right: 10px;
}
.chart-btm-dsc-title{
	display: block;
	font-size: 12px;
	line-height: 14px;
	color: #000028;
	font-weight: 700;
	margin-bottom: 0;
	float: left;
	padding-top: 6px;
}
.chart-btm-dsc-title b{
	font-weight: 400 !important;
}
.overview-grid-box-chart-btm-dsc a{
	float: right;
	width: 25px;
	height: 25px;
	border:1px solid#707070;
	border-radius: 50px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.overview-grid-box-chart-btm-dsc a:hover{
	background:#00D3AA;
	border-color: #00D3AA;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.overview-grid-box-chart-btm-dsc a:hover i svg{
	fill: #fff;
}
.overview-switch-radio{
	float: left;
}
.overview-switch-radio > span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 20px;
	line-height: 1;
	color:#000028;
	font-weight: 400;
	float: left;
	padding-top: 7px;
}
/*
---------------------
 Radio css
---------------------
*/
.switch-radio{
	float: left;
	padding-top: 2px;
	padding-left: 32px;
}
.switch-field {
	position: relative;
	width: 64px;
	height: 32px;
	border-radius: 30px; 
	background:#e1e3eb;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
    width: 28px;
    height: 28px;
    border-radius: 100% 100%;
    transition: all 0.4s;
    -ms-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    position: relative;
    margin-bottom: 0;
    top: 2px;
    left: 2px;
}
.switch-field label.radio-one:after{
	content: "\f009";
    font-family: "ForkAwesome";
    font-weight: 600;
    text-decoration: inherit;
    color: #4C5E6F;
    font-size: 12px;
    padding-right: 0;
    position: absolute;
    top: 7px;
    right: 8px;
    line-height: 15px;
}
.switch-field label.radio-two:after{
	content: "\f0ca";
    font-family: "ForkAwesome";
    font-weight: 600;
    text-decoration: inherit;
    color: #4C5E6F;
    font-size: 12px;
    padding-right: 0;
    position: absolute;
    top: 7px;
    right: 8px;
    line-height: 15px;
}

.switch-field label:hover{
	cursor: pointer;
}

.switch-field input:checked + label{
	background-color: #FFFFFF;
	box-shadow: none;
}
.switch-field input:checked + label:after{
	color: #008CD8;
}



/*
-------------------
 Responsive Css
-------------------
*/
@media(max-width: 1199px){
	.overview-grid-tp-wrp ul li {
	    padding: 0 10px;
	}
	.overview-grid-box-tp-title-1 {
	    font-size: 21px;
	}
	.overview-grid-box-chart-title-1 {
	    font-size: 17px;
	}
	.overview-grid-btm-flow-wrp ul li{
	    padding: 0 10px 25px;
	}
	.overview-grid-box-chart-btm-dsc {
	    padding-left: 5px;
	    padding-right: 5px;
	}
	.overview-grid-tp-wrp {
	    padding: 20px 8px 15px;
	}
	.overview-grid-btm-flow-wrp {
	    padding-bottom: 60px;
	}
}

@media(max-width: 991px){
	.overview-grid-tp-wrp ul li {
	    padding: 0 10px 10px;
	    width: 33.3333%;
	}
	.overview-grid-box-tp-title-1 {
	    font-size: 20px;
	}
	.overview-grid-btm-flow-wrp ul li {
	    width: 33.3333%;
	}
	.overview-grid-btm-flow-wrp ul li:nth-child(4n+1){
		clear: none;
	}
	.overview-grid-btm-flow-wrp ul li:nth-child(3n+1){
		clear: left;
	}
	.overview-grid-box-chart-btm-dsc {
	    padding-left: 0;
	    padding-right: 0;
	}
	.overview-grid-btm-flow-wrp {
	    padding-bottom: 40px;
	}
}

@media(max-width: 767px){
	.overview-grid-tp-wrp ul li {
	    width: 50%;
	}
	.overview-grid-box-tp-title-1 {
	    font-size: 18px;
	}
	.overview-grid-box-chart-title-1 {
	    font-size: 16px;
	    margin-bottom: 10px;
	}
	.overview-grid-btm-flow-wrp {
	    padding-bottom: 20px;
	}
	.overview-grid-btm-flow-wrp ul li {
	    width: 50%;
	}
	.overview-grid-btm-flow-wrp ul li:nth-child(4n+1){
		clear: none;
	}
	.overview-grid-btm-flow-wrp ul li:nth-child(3n+1){
		clear: none;
	}
	.overview-grid-box-chart-rgt,
	.overview-grid-box-chart-lft {
	    width: 100%;
	    padding-right: 0;
	}
	.overview-grid-box-chart-rgt img,
	.overview-grid-box-chart-lft img {
	    width: auto;
	}
	.overview-grid-box-chart-rgt{
		padding-left: 0;
	}
	.overview-grid-box-chart-btm-dsc span{
		float: left;
		margin-top: 10px;
	}
	.switch-radio {
	    padding-left: 25px;
	}
}
@media(max-width: 639px){
	.overview-select .pv-select-field .bootstrap-select button{
		width: 130px;
	}
	.switch-radio {
	    padding-left: 15px;
	}
}
@media(max-width: 575px){
	.overview-grid-tp-wrp ul li{
	    width: 100%;
	}
	.overview-grid-btm-flow-wrp ul li {
	    width: 100%;
	}
	.overview-grid-box-chart-rgt img,
	.overview-grid-box-chart-lft img {
	    width: 100%;
	    max-width: 140px;
	}
	.chart-btm-dsc-title{
		float: none;
	}
	.switch-item{
		position: static;
	}
	.overview-select {
	    float: left;
	}
}

@media(max-width: 479px){
	
}

