/*
-----------------------
ov-flow-chart-list-grds
-----------------------
*/
.ov-list-grid-tp-wrp ul li:nth-child(2) .overview-grid-box-tp-inr{
	border-top-color:#00D3AA;
}
.ov-list-grid-tp-wrp ul li:nth-child(3) .overview-grid-box-tp-inr{
	border-top-color:#4F28AB;
}
.ov-list-grid-tp-wrp ul li:nth-child(4) .overview-grid-box-tp-inr{
	border-top-color:#FD8D00;
}
.flow-chart-list-tb-wrp .overview-grid-swt-sle-wrp {
    padding: 15px 5px 20px 10px;
}
.flow-chart-list-tb-wrp{
	padding-left: 12px;
	padding-right: 25px;
}
.ov-flow-chart-list-grds{
	background: #fff;
	border-radius: 5px 5px 0 0;
	padding-left:12px;
	padding-right: 55px; 
	padding-bottom: 40px;
	margin-right: 5px;
}
.ov-flow-chart-list-grd-head-wrp ul li{
	width: 100%;
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	margin-bottom: 20px;
}
.ov-flow-chart-list-grd-head-wrp ul li:first-child{
	margin-bottom: 0;
}
.ov-flow-chart-list-inr {
    background: #F1F2F8;
    border-radius: 5px 5px;
    border-left: 5px solid#00D3AA;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 10px;
}
.ov-flow-chart-list-head{
	float: left;
	padding: 24px 0 22px;
}
.ov-flow-list-h-col-1{
	width: 18%;
	padding-left: 15px;
}
.ov-flow-chart-list-head.ov-flow-list-h-col-1{
	padding-left: 20px;
}
.ov-flow-list-h-col-2{
	width: 14%;
}
.ov-flow-list-h-col-3{
	width: 15%;
}
.ov-flow-list-h-col-5,
.ov-flow-list-h-col-4{
	width: 16%;
}
.ov-flow-list-h-col-6{
	width: 12%;
}
.ov-flow-list-h-col-7{
	width: 9%;
}
.ov-flow-chart-list-head span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	line-height: 15px;
	color: #000028;
	font-weight: 600;
}
.ov-flow-chart-list-title{
	display: block;
	font-size: 15px;
	line-height: 1;
	color: #000028;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 1px;
}
.ov-flow-chart-list span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 14px;
	color: #000028;
	font-weight: 400;
}
.ov-flow-chart-list p{
	margin: 0;
	font-size: 12px;
	line-height: 1.5;
	font-weight: 400;
}
.ov-flow-chart-list strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 1.6;
	color: #000028;
}
.ov-flow-chart-list.ov-flow-list-h-col-5 span,
.ov-flow-chart-list.ov-flow-list-h-col-4 span{
	font-size: 11px;
	padding-top: 10px;
}
.ov-flow-chart-list.ov-flow-list-h-col-6 span {
    font-size: 15px;
    padding-left: 18px;
}
.ov-flow-chart-list.ov-flow-list-h-col-7 span{
	font-size: 19px;
	font-weight: 900;
	color: #fff;
	width: 54px;
	height: 54px;
	background:#00D3AA;
	border-radius: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ov-flow-chart-list-inr > span{
	position: absolute;
	right: -38px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.ov-flow-list-h-col-5,
.ov-flow-list-h-col-4{
	position: relative;
}
.ov-flow-chart-hover{
    background: #000028;
    border-radius: 5px 5px;
    max-width: 129px;
    width: 100%;
    padding: 3px 10px 6px;
    line-height: initial;
    position: absolute;
    top: -50px;
    left: -20px;
    opacity: 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.ov-flow-list-h-col-4:hover .ov-flow-chart-hover,
.ov-flow-list-h-col-5:hover .ov-flow-chart-hover{
	opacity: 1;
	transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
} 
.ov-flow-chart-hover:after{
   content: "";
   width: 0;
   height: 0;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 5px solid #000028;
   position: absolute;
   bottom: -5px;
   left: 50%;
   transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
}
.ov-flow-chart-hover > span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 11px;
	line-height: 13px;
	color: #fff !important;
	font-weight: 400;
	padding-top: 0 !important;
}
.ov-flow-chart-hover > strong{
	display: inline-block !important;
	vertical-align: baseline !important;
	font-size: 11px !important;
	line-height: 13px !important;
	color: #fff;
	font-weight: 700 !important;
}

/*
-----------------------
  Events
-----------------------
*/
.ev-page-wrp{
	background: #f1f2f8;
	padding: 25px 20px 20px;
}
.ev-tp-select-wrp{
	padding-bottom: 20px;
}
.ev-table-select-wrp{
	padding-bottom: 30px;
}
.ev-tp-lft{
	float: left;
}
.ev-tp-select-rgt{
	float: right;
}
.ev-tp-lft-title{
	display: block;
	font-size: 20px;
	line-height: 1;
	font-weight: 400;
	color: #000028;
	margin-bottom: 0;
	padding-top: 7px;
}
.ev-tp-select-rgt .pv-select-field{
	float: left;
}
.ex-select-field{
	padding-right:15px; 
}
.ex-select-field .bootstrap-select button{
	width: 110px;
}
.nb-select-field .bootstrap-select button{
	width: 62px;
}
.ev-table-wrp{
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.50);
    -ms-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.50);
    border-radius: 8px;
    background: #fff;
    padding: 30px 20px 0;
}
.tb-select-field label{
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	line-height: 15px;
	color: #4C5E6F;
	float: left;
	margin-bottom: 0;
	padding-right: 15px;
	padding-top: 12px;
}
.tb-select-field{
	padding-left: 25px;
	float: left;
}
.tb-select-field .bootstrap-select {
    width: 160px!important;
    float: left;
    color: #4C5E6F;
}
.tb-select-field .bootstrap-select button {
    color: #4C5E6F;
    height: 40px;
    padding: 10px 12px 10px 12px;
    background: transparent;
    border: 1px solid #DAE0E6;
}
.tb-select-field .dropdown-toggle::before{
	background-image: url(../images/tb-select-angle.svg) !important;
	top: 17px;
}

.ev-table-search{
	float: left;
}
.ev-table-search form{
    position: relative;
    max-width:210px;
    width: 100%;
    display: flex;
}
.ev-table-search form input[type="search"]{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    font-size: 13px;
    line-height: 1;
    color: #4C5E6F;
    border:1px solid#DAE0E6;
    border-radius: 8px;
    padding: 2px 15px 2px 40px;
    font-weight: 400;
}
.ev-table-search form input[type="search"]:focus{
	border-color: #bdc1c5;
}
.ev-table-search form button{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    background:url(../images/ntfsn-cntn-top-lft-srch-icon.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center center;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/*
------------------
 Table Css
------------------
*/
.recent-orders-tbl table{
  width: 100%;
  color: #5F5F5F;
  font-size: 13px;
  line-height: 15px;
}
.recent-orders-tbl table th{
  padding-bottom: 20px;
}

.recent-orders-tbl table tr th span{
  display: inline-block;
  vertical-align: baseline;
  font-size: 13px;
  line-height: 15px;
  color: #000028;
  font-weight: 600;
  position: relative;
  padding-right: 30px;
}
.recent-orders-tbl table tr th span:after{
	content: "";
	position: absolute;
	right: 0;
	top: 3px;
	background: url(../images/table-icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 7px 12px;
	width: 7px;
	height: 12px;
}

.recent-orders-tbl table tr td{
  padding-top: 15px;
  padding-bottom:15px;
  vertical-align: text-top;
}
.recent-orders-tbl table tr td.tbl-col-8 span,
.recent-orders-tbl table tr td.tbl-col-1 span{
  line-height: 20px; 
}
td.tbl-col-9 span,
td.tbl-col-2 span{
	color: #00D3AA;
	font-weight: 700;
}
td.tbl-col-5 span{
	color: #E5576C;
	font-weight: 700;
}

.tbl-col-1{
  width: 11%;
}
.tbl-col-2{
  width: 9%;
}
.tbl-col-3{
  width: 12%;
}
.tbl-col-4{
  width: 11%;
}
.tbl-col-5{
  width: 9%;
}

.tbl-col-6{
  width: 10%;
}

.tbl-col-7{
  width: 12%;
}
.tbl-col-8{
  width: 16%;
}
.tbl-col-9{
  width: 7%;
}


/*
-------------------
 Responsive Css
-------------------
*/
@media(max-width: 1199px){
	
}

@media(max-width: 991px){

}

@media(max-width: 767px){

}

@media(max-width: 575px){

}

@media(max-width: 479px){

}