.plant-sec {
    position: relative;
}
.plant-top-sec{
	padding: 12px 22px;
	background: #E1E3EB;
	display: flex;
	align-items: center;
}

.plant-top-rgt{
	margin-left: auto;
}
.plant-top-lft-select,
.plant-top-lft-link{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 50px;
}
.plant-top-lft-select .btn-light {
    color: #000028;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.plant-top-lft-select .btn{
	padding: 0.375rem 0;
}
.plant-top-lft-select .pv-select-field .bootstrap-select button {
    font-size: 12px;
    color: #000028;
    font-weight: 900;
    border-radius: 5px;
    border: 0;
    width: 200px;
    height: 35px;
    text-transform: uppercase;
    padding: 8px 12px 10px 12px;
}
.plant-top-lft-select .pv-select-field .dropdown-toggle::before{
	    background-image: url(../images/select-down-arrow-black.svg) !important;
}

.plant-top-lft-link a{
	font-size: 12px;
	color: #008CD8;
	text-transform: capitalize;
	font-weight: 500;
	background: #FFFFFF;
	border-radius: 5px;
	height: 34px;
	width: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.plant-top-lft-link a:hover{
	background: #000028;
	color: #fff;
}

.plant-top-rgt-inverter{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 30px;
	padding: 5px 15px;
	background: #fff;
	border-radius: 5px;
}
.plant-top-rgt-inverter-inr{
	display: flex;
	align-items: center;
}
.plant-top-rgt-inverter-des{
	margin-right: 15px;
}
.plant-top-rgt-inverter-des,
.plant-top-rgt-inverter-counts{
	display: inline-block;
	vertical-align: baseline;
}
.ptgic-1,
.ptgic-2{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 7px;
}
.ptgic-3{
	display: inline-block;
	vertical-align: baseline;
}
.plant-top-rgt-inverter-des strong{
	display: block;
	text-align: right;
	font-size: 10px;
	color: #000028;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.plant-top-rgt-inverter-des span{
	font-size: 10px;
	color: #000028;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}
.plant-top-rgt-temp{
	display: inline-block;
	vertical-align: baseline;
}
.ptgic-1 i,
.ptgic-2 i,
.ptgic-3 i{
	height: 54px;
	width: 54px;
	background: #00D3AA;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ptgic-2 i{
	background: #FF8E00;
}
.ptgic-3 i{
	background: #E5576C;
}
.ptgic-1 i span,
.ptgic-2 i span,
.ptgic-3 i span{
	font-size: 21px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: normal;
}


.plant-top-rgt-temp{
	padding: 6px 20px 12px 18px;
	background: #fff;
	border-radius: 5px;
	position: relative;
}
.plant-top-rgt-temp strong{
	position: absolute;
	right: 25px;
	bottom: 10px;
	font-size: 9px;
	color: #000028;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.plant-top-rgt-inr{
	display: flex;
	align-items: center;
}

.plant-temp-chart{
	padding: 28px 20px 60px 20px;
	background: #f1f2f8;
}


.plant-temp-top-chart{
	padding: 18px 12px 20px 25px;
	background: #fff;
	border-radius: 5px;
	margin-bottom: 30px;
	-webkit-box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
	-moz-box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
	box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
}
.temp-chart-hdr{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.temp-chart-hdr-rgt{
	margin-left: auto;
	display: flex;
	align-items: center;
}
.temp-chart-hdr-title{
	display: block;
	font-size: 18px;
	line-height: 1;
	margin-bottom: 0px;
	margin-right: 10px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	color: #000028;
}
.temp-chart-hdr-rgt-date{
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	margin-right: 10px;
}
.temp-chart-hdr-rgt-date input{
	width: 100%;
    height: 100%;
    background: transparent!important;
    border: none!important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    padding-left: 35px;
    font-size: 12px;
    font-weight: 400;
    color: #4C5E6F;
}
.temp-chart-hdr-rgt-date input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4C5E6F;
  opacity: 1;
}
.temp-chart-hdr-rgt-date input::-moz-placeholder { /* Firefox 19+ */
  color: #4C5E6F;
  opacity: 1;
}
.temp-chart-hdr-rgt-date input:-ms-input-placeholder { /* IE 10+ */
  color: #4C5E6F;
  opacity: 1;
}
.temp-chart-hdr-rgt-date input:-moz-placeholder { /* Firefox 18- */
  color: #4C5E6F;
  opacity: 1;
}
.temp-chart-hdr-rgt-date label{
	display: flex;
    align-items: center;
    padding: 0 0 0 0;
    position: relative;
    height: 35px;
    width: 170px;
    background: transparent;
    border: 1px solid #DAE0E6;
    border-radius: 5px;
    font-size: 12px;
    color: #4C5E6F;
    z-index: 2;
    margin-bottom: 0;
}
.temp-chart-hdr-rgt-date label i{
	position: absolute;
    top: 55%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px;
}

.temp-chart-humbergar{
	display: inline-block;
	vertical-align: baseline;
}
.temp-chart-humbergar-icon{
	position: relative;
	height: 12px;
	width: 15px;
	cursor: pointer;
}
.temp-chart-humbergar-icon span{
	position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 2px;
    width: 15px;
    background: #4C5E6F;
}
.temp-chart-humbergar-icon span:nth-child(2){
	top: 5px;
}
.temp-chart-humbergar-icon span:nth-child(3){
	top: 10px;
}

.plant-temp-btm-chart-lft{
	float: left;
	width: 50%;
	padding-right: 15px;
}
.plant-temp-btm-chart-rgt{
	float: right;
	width: 50%;
	padding-left: 15px;
}
.plant-temp-btm-chart-lft-inr,
.plant-temp-btm-chart-rgt-inr{
	padding: 22px 10px 0px 10px;
	background: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
	-moz-box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
	box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
}


.ui-datepicker-prev{
    background-image: url('../images/prev-arrow.png');
    background-repeat: no-repeat;
    background-color: #008CD8;
    background-position: 50% 50%;
    cursor: pointer;
}
.ui-datepicker-prev:hover{
	 background-image: url('../images/prev-arrow.png')!important;
    background-repeat: no-repeat!important;
    background-color: #008CD8!important;
    background-position: 50% 50%!important;
}
.ui-datepicker-next{
	background-image: url('../images/next-arrow.png');
	background-repeat: no-repeat;
    background-color: #008CD8;
    background-position: 50% 50%;
    cursor: pointer;
}
.ui-datepicker-next:hover{
	background-image: url('../images/next-arrow.png')!important;
	background-repeat: no-repeat!important;
    background-color: #008CD8!important;
    background-position: 50% 50%!important;
}

@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.plant-top-lft-select, 
	.plant-top-lft-link{
		margin-right: 10px;
	}
	.plant-top-lft-select .pv-select-field .bootstrap-select button{
		width: 160px;
	}
	.plant-top-lft-link a{
		width: 120px;
	}
	.plant-top-rgt-inverter {
	    margin-right: 15px;
	    padding: 5px 10px;
	}
	.ptgic-1 i, 
	.ptgic-2 i, 
	.ptgic-3 i{
		width: 45px;
		height: 45px;
	}
	.ptgic-1 i span, 
	.ptgic-2 i span, 
	.ptgic-3 i span{
		font-size: 18px;
	}
	.plant-top-rgt-temp {
	    padding: 6px 10px 10px 10px;
	}

}

@media(max-width: 991px){
	.plant-top-sec{
		display: inherit;
	}
	.plant-top-lft {
	    float: initial;
	    margin-bottom: 20px;
	}
	.plant-top-rgt {
	    float: initial;
	}
	.plant-temp-chart {
	    padding: 28px 20px 50px 20px;
	}
	.temp-chart-hdr-title{
		font-size: 16px;
		margin-right: 0;
	}
	.plant-temp-btm-chart-lft {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 30px;
	}
	.plant-temp-btm-chart-rgt {
	    width: 100%;
	    padding-left: 0;
	}
	.temp-chart-hdr-lft {
	    text-align: center;
	    margin-bottom: 10px;
	}
	.temp-chart-hdr-rgt {
	    justify-content: center;
	    margin-bottom: 20px;
	}
	.temp-chart-hdr{
		display: initial;
		margin-bottom: 0;
	}
	.plant-temp-top-chart-img{
		text-align: right;
	}
}

@media(max-width: 767px){


}

@media(max-width: 575px){
	.hdr-lft {
	    float: initial;
	    text-align: center;
	    margin-bottom: 20px;
	}
	.hdr-rgt {
	    float: initial;
	    text-align: center;
	}
	.ptgic-1 i, .ptgic-2 i, .ptgic-3 i {
	    width: 35px;
	    height: 35px;
	}
	.ptgic-1 i span, .ptgic-2 i span, .ptgic-3 i span {
	    font-size: 16px;
	}
	.plant-top-rgt-inverter-inr {
	    display: inherit;
	    text-align: center;
	}
	.plant-top-rgt-inverter{
		padding-bottom: 10px;
	}
	.plant-top-rgt-inverter-des{
		margin-bottom: 10px;
	}
	
	

}

@media(max-width: 479px){
	
	.plant-temp-chart {
	    padding: 21px 10px 40px 10px;
	}
	.plant-top-sec{
		padding: 10px;
	}
	.plant-top-rgt-inr{
		display: initial;
	}
	.plant-top-rgt-inverter{
		margin-bottom: 10px;
	}
	.plant-top-rgt-inverter-des{
		display: block;
	}
	.plant-top-rgt-inverter-des strong{
		text-align: center;
	}
	.plant-top-rgt-inverter,
	.plant-top-rgt-temp{
		display: block;
	}
	.plant-top-rgt-inverter{
		margin-right: 0;
	}
	.plant-top-lft-select, .plant-top-lft-link{
		display: block;
		margin-right: 0;
	}
	.plant-top-lft-select .pv-select-field .bootstrap-select button,
	.plant-top-lft-link a{
		max-width: 100%;
		width: 100%;
	}
	.plant-top-lft-select .pv-select-field .bootstrap-select button{
		margin-bottom: 10px;
	}

}

@media(max-width: 359px){

}







