.plant-comparison-1-ctlr{
	background: #f1f2f8;
	padding-bottom: 145px;
}
.plant-comparison-1-ctlr .plant-comparison-top{
	background: #f1f2f8;
	padding-bottom: 20px;
}
.plant-comparison-1-ctlr .plant-comparison-title{
	margin-bottom: 0;
}
.plant-comparison-btm{
	padding-left: 22px;
}
.plant-comparison-check{
	float: left;
	width: 30%;
	padding-right: 12px;
}
.plant-comparison-chart{
	float: right;
	width: 70%;
	padding-left: 12px;
	padding-right: 20px;
}

.plant-comparison-check-inr{
	padding: 22px;
	background: #E1E3EB;
	border-radius: 5px;
}

.plant-comparison-check-inr form span{
	display: block;
	font-size: 14px;
	color: #4C5E6F;
	margin-bottom: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

.filter-check-row{
	position: relative;
	padding: 0 15px 15px 13px;
	font-size: 14px;
}


.filter-check-row input[type="checkbox"]{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.filter-check-row span.checkmark{
	position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.filter-check-row input:checked ~ .checkmark:after {
    display: block;
}
.filter-check-row input:checked ~ .checkmark{
	background: #008CD8;
	border: 1px solid #008CD8;
}
.filter-check-row input:checked ~ label{
	color: #000028;
}

.filter-check-row .checkmark::after {
	left: 4px;
	top: 1px;
	width: 5px;
	height: 10px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


.filter-check-row label{
	display: inline-block;
	vertical-align: middle;
	padding-left: 25px;
	font-weight: 400;
	color: #4C5E6F;
	cursor: pointer;
	margin: 0;
}
.filter-check-row label strong{
	font-weight: 700;
}


.plant-comparison-1-ctlr .plant-comparison-btn{
	margin-top: 12px;
}
.plant-comparison-1-ctlr .plant-comparison-btn a{
	width: 230px;
}
.plant-comparison-1-ctlr .plant-temp-humbergar{
	position: initial;
	display: inline-block;
	vertical-align: baseline;
}
.plant-comparison-1-ctlr .plant-temp-top-chart-hdr-rgt-date{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 15px;
}
.plant-comparison-1-ctlr .plant-temp-btm-chart-lft-inr{
	margin-bottom: 35px;
}
.plant-comparison-1-ctlr .filter-check-row .checkmark::after {
    left: 4px;
    top: 1px;
}



@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
	
}

@media(max-width: 1199px){
	.plant-comparison-check{
		width: 100%;
		padding-right: 20px;
		margin-bottom: 20px;
	}
	.plant-comparison-chart {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 20px;
	}
	.plant-comparison-check-inr .filter-check-row{
		padding-bottom: 5px;
	}

}

@media(max-width: 991px){
	.plant-comparison-1-ctlr{
		padding-bottom: 120px;
	}
	
}

@media(max-width: 767px){
	.plant-comparison-check-inr form span{
		margin-bottom: 10px;
	}
	.plant-comparison-1-ctlr {
	    padding-bottom: 100px;
	}

}

@media(max-width: 575px){
	.plant-comparison-1-ctlr {
	    padding-bottom: 80px;
	}
	
	

}

@media(max-width: 479px){
	.plant-comparison-1-ctlr .plant-comparison-btn a {
	    max-width: 100%;
	    width: 100%;
	}

}

@media(max-width: 359px){

}

