.plant-comparison-top{
	padding: 35px 20px 55px 22px;
	background: #E1E3EB;
}
.plant-comparison-title{
	display: block;
	font-size: 20px;
	line-height: 1;
	margin-bottom: 35px;
	font-weight: 400;
	color: #000028;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
}

.plant-comparison-top-select span{
	display: block;
	font-size: 13px;
	color: #4C5E6F;
	margin-bottom: 10px;
	text-transform: capitalize;
	font-weight: 400;
}


.plant-comparison-top-select{
	margin-bottom: 15px;
}

.plant-comparison-select .pv-select-field .bootstrap-select button {
    font-size: 12px;
    color: #000028;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    width: 1040px;
    height: 35px;
    text-transform: capitalize;
    padding: 8px 12px 10px 12px;
}
.plant-comparison-select .pv-select-field .dropdown-toggle::before{
	background-image: url(../images/select-down-arrow-black.svg) !important;
}

.plant-comparison-btn a{
	font-size: 12px;
    color: #008CD8;
    text-transform: capitalize;
    font-weight: 500;
    background: #FFFFFF;
    border-radius: 5px;
    height: 34px;
    width: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plant-comparison-ctlr .plant-temp-chart{
	background: #E1E3EB;
	padding-bottom: 215px;
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	
	
}

@media(max-width: 767px){
	

}

@media(max-width: 575px){
	
	
	

}

@media(max-width: 479px){
	

}

@media(max-width: 359px){

}


