.plant-sec {
    padding-left: 235px;
    position: relative;
    padding-top: 80px;
}
.plant-top-sec{
	padding: 12px 22px;
	background: #E1E3EB;
}
.plant-top-lft{
	float: left;
}
.plant-top-rgt{
	float: right;
}
.plant-top-lft-select,
.plant-top-lft-link{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 50px;
}
.plant-top-lft-select .btn-light {
    color: #000028;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.plant-top-lft-select .btn{
	padding: 0.375rem 0;
}
.plant-top-lft-select .pv-select-field .bootstrap-select button {
    font-size: 12px;
    color: #000028;
    font-weight: 900;
    border-radius: 5px;
    border: 0;
    width: 200px;
    height: 35px;
    text-transform: capitalize;
    padding: 8px 12px 10px 12px;
}
.plant-top-lft-select .pv-select-field .dropdown-toggle::before{
	    background-image: url(../images/select-down-arrow-black.svg) !important;
}

.plant-top-lft-link a{
	font-size: 12px;
	color: #008CD8;
	text-transform: capitalize;
	font-weight: 500;
	background: #FFFFFF;
	border-radius: 5px;
	height: 34px;
	width: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.plant-top-rgt-inverter{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 30px;
	padding: 5px 15px;
	background: #fff;
	border-radius: 5px;
}
.plant-top-rgt-inverter-inr{
	display: flex;
	align-items: center;
}
.plant-top-rgt-inverter-des{
	margin-right: 15px;
}
.plant-top-rgt-inverter-des,
.plant-top-rgt-inverter-counts{
	display: inline-block;
	vertical-align: baseline;
}
.ptgic-1,
.ptgic-2{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 7px;
}
.ptgic-3{
	display: inline-block;
	vertical-align: baseline;
}
.plant-top-rgt-inverter-des strong{
	display: block;
	text-align: right;
	font-size: 10px;
	color: #000028;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.plant-top-rgt-inverter-des span{
	font-size: 10px;
	color: #000028;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}
.plant-top-rgt-temp{
	display: inline-block;
	vertical-align: baseline;
}
.ptgic-1 i,
.ptgic-2 i,
.ptgic-3 i{
	height: 54px;
	width: 54px;
	background: #00D3AA;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ptgic-2 i{
	background: #FF8E00;
}
.ptgic-3 i{
	background: #E5576C;
}
.ptgic-1 i span,
.ptgic-2 i span,
.ptgic-3 i span{
	font-size: 21px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: normal;
}


.plant-top-rgt-temp{
	padding: 6px 20px 12px 18px;
	background: #fff;
	border-radius: 5px;
	position: relative;
}
.plant-top-rgt-temp strong{
	position: absolute;
	right: 25px;
	bottom: 10px;
	font-size: 9px;
	color: #000028;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.plant-top-rgt-inr{
	display: flex;
	align-items: center;
}

.plant-temp-chart{
	padding: 28px 20px 60px 20px;
	background: #f1f2f8;
}


.plant-temp-top-chart{
	padding: 18px 12px 20px 25px;
	background: #fff;
	border-radius: 5px;
	margin-bottom: 30px;
	-webkit-box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
	-moz-box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
	box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
}
.plant-temp-top-chart-hdr-left{
	float: left;
}
.plant-temp-top-chart-hdr-rgt{
	float: right;
}
.plant-tem-top-chart-title,
.plant-temp-btm-chart-month-title{
	display: block;
	font-size: 18px;
	line-height: 1;
	margin-bottom: 20px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	color: #000028;
}
.plant-temp-top-chart-hdr-rgt-date{
	position: relative;
}
.plant-temp-top-chart-hdr-rgt-date input{
	width: 100%;
    height: 100%;
    background: transparent!important;
    border: none!important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}
.plant-temp-top-chart-hdr-rgt-date label{
	display: flex;
    align-items: center;
    padding: 0 0 0 0;
    position: relative;
    height: 35px;
    width: 170px;
    background: transparent;
    border: 1px solid #DAE0E6;
    border-radius: 5px;
    font-size: 12px;
    color: #4C5E6F;
    z-index: 2;
}
.plant-temp-top-chart-hdr-rgt-date label i{
	position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px;
}
.plant-temp-top-chart-hdr-rgt-date label span{
	padding-left: 35px;
}


.plant-temp-top-chart-img{
	position: relative;
}
.plant-temp-humbergar{
	position: absolute;
	top: 10px;
	right: 0;
}

.plant-temp-humbergar-icon{
	position: relative;
	height: 12px;
	width: 15px;
	cursor: pointer;
}
.plant-temp-humbergar-icon span{
	position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 2px;
    width: 15px;
    background: #4C5E6F;
}
.plant-temp-humbergar-icon span:nth-child(2){
	top: 5px;
}
.plant-temp-humbergar-icon span:nth-child(3){
	top: 10px;
}

.plant-temp-btm-chart-lft{
	float: left;
	width: 50%;
	
	padding-right: 15px;
}
.plant-temp-btm-chart-rgt{
	float: right;
	width: 50%;
	padding-left: 15px;
}
.plant-temp-btm-chart-lft-inr,
.plant-temp-btm-chart-rgt-inr{
	padding: 22px 10px 0px 10px;
	background: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
	-moz-box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
	box-shadow: 2px 2px 5px 2px rgba(229,230,236,0.75);
}
.plant-temp-btm-chart-month-hdr,
.plant-temp-btm-chart-year-hdr{
	float: left;
}
.plant-temp-btm-chart-month-rgt-ctlr,
.plant-temp-btm-chart-year-rgt-ctlr{
	float: right;
}

.plant-temp-btm-chart-month-rgt,
.plant-temp-btm-chart-year-rgt{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 12px;
	position: relative;
}
.plant-temp-btm-chart-month-rgt-humbergar,
.plant-temp-btm-chart-year-rgt-humbergar{
	display: inline-block;
	vertical-align: baseline;
}
.plant-temp-btm-chart-month-rgt input,
.plant-temp-btm-chart-year-rgt input{
	width: 100%;
    height: 100%;
    background: transparent!important;
    border: none!important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}
.plant-temp-btm-chart-month-rgt label,
.plant-temp-btm-chart-year-rgt label{
	display: flex;
    align-items: center;
    padding: 0 0 0 0;
    position: relative;
    height: 35px;
    width: 130px;
    background: transparent;
    border: 1px solid #DAE0E6;
    border-radius: 5px;
    font-size: 12px;
    color: #4C5E6F;
    z-index: 2;
    margin-bottom: 0;
}
.plant-temp-btm-chart-month-rgt i,
.plant-temp-btm-chart-year-rgt i{
	position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15px;
}
.plant-temp-btm-chart-month-rgt span,
.plant-temp-btm-chart-year-rgt span{
	padding-left: 40px;
}