html, body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    line-height: 1.36;
    letter-spacing: 0px;
    color: #000000;
    /*font-family: 'Roboto', sans-serif;*/
}
img {
    display: block;
    max-width: 100%;
}
a:hover {
    text-decoration: none;
}
input:focus,
button:focus {
    outline:none !important;
    box-shadow: none !important;
}
  
}
.ulc{
    margin: 0;
    padding: 0;
    list-style: none;
}
.overlay-link{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.inline-bg{
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}
@font-face {
    font-family: 'Futura LT Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Regular'), url('../fonts/futura/FuturaLT.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Book'), url('../fonts/futura/FuturaLT-Book.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Oblique'), url('../fonts/futura/FuturaLT-Oblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT BookOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT BookOblique'), url('../fonts/futura/FuturaLT-BookOblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT Light';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Light'), url('../fonts/futura/FuturaLT-Light.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondensedLight';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedLight'), url('../fonts/futura/FuturaLT-CondensedLight.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT LightOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT LightOblique'), url('../fonts/futura/FuturaLT-LightOblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondensedLightObl';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedLightObl'), url('../fonts/futura/FuturaLT-CondensedLightObl.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Condensed'), url('../fonts/futura/FuturaLT-Condensed.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondensedOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedOblique'), url('../fonts/futura/FuturaLT-CondensedOblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT ExtraBold'), url('../fonts/futura/FuturaLT-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Bold'), url('../fonts/futura/FuturaLT-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondensedBold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedBold'), url('../fonts/futura/FuturaLT-CondensedBold.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondensedExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedExtraBold'), url('../fonts/futura/FuturaLT-CondensedExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT ExtraBoldOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT ExtraBoldOblique'), url('../fonts/futura/FuturaLT-ExtraBoldOblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT BoldOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT BoldOblique'), url('../fonts/futura/FuturaLT-BoldOblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondExtraBoldObl';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondExtraBoldObl'), url('../fonts/futura/FuturaLT-CondExtraBoldObl.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondensedBoldOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedBoldOblique'), url('../fonts/futura/FuturaLT-CondensedBoldOblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Heavy'), url('../fonts/futura/FuturaLT-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT HeavyOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT HeavyOblique'), url('../fonts/futura/FuturaLT-HeavyOblique.woff') format('woff');
}


ul.reset-list,
ol.reset-list,
ul.sub-menu,
.fl-pagi-ctlr ul,
.reset-slect ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


/*
--------------
 Select Css
--------------
*/
/*bootstrap-select*/
.pv-select-field .bootstrap-select{
    color: #008CD8;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    width: 100% !important;
}
.pv-select-field .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.pv-select-field .bootstrap-select button{
    font-size: 12px;
    color: #008CD8;
    font-weight: 600;
    border-radius: 5px;
    border: 0;
    width: 160px;
    height: 35px;
    text-transform: capitalize;
    padding: 8px 12px 10px 12px;
}

.pv-select-field .dropdown-toggle::before {
    content: "";
    font-size: 14px;
    padding-right: 0;
    position: absolute;
    right: 12px;
    top: 15px;
    line-height: 15px;
    background-image: url(../images/down-up-icon.svg) !important;
    background-repeat: no-repeat !important;
    width: 8px;
    height: 4px;
    font-weight: 400;
    background-size: 8px 4px;
    border:0 !important;
}
.pv-select-field .dropdown-toggle::after{
    content: none;
}

.pv-select-field .open > .dropdown-toggle.btn-default:hover,
.pv-select-field .btn-default.active, 
.btn-default:active, 
.pv-select-field .open > .dropdown-toggle.btn-default{
    color: #fff;
    background-color: #ddd;
    border-width: 1px;
}
.pv-select-field .btn-default:hover,
.pv-select-field .btn-default:focus,
.pv-select-field .btn-default.active.focus, 
.pv-select-field .btn-default.active:focus, 
.pv-select-field .btn-default.active:hover, 
.pv-select-field .btn-default:active.focus, 
.pv-select-field .btn-default:active:focus, 
.pv-select-field .btn-default:active:hover, 
.pv-select-field .open>.dropdown-toggle.btn-default.focus, 
.pv-select-field .open>.dropdown-toggle.btn-default:focus,
.pv-select-field .open>.dropdown-toggle.btn-default:hover{
    color: #fff;
    background-color: #c7a46f;
    border-width: 1px;
    outline: 0!important;
}
.pv-select-field .bootstrap-select .dropdown-toggle:focus{
    outline: 0!important;
}
.pv-select-field  .dropdown-menu{
    margin: 0;
    background-color: #ddd;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 12px 0 10px;
}
.pv-select-field .dropdown-menu li{
    position: relative;
    margin-bottom: 6px;
}
.pv-select-field .dropdown-menu li a{
    padding-top: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
}
.pv-select-field .dropdown-menu>.active>a, 
.pv-select-field .dropdown-menu>.active>a:focus, 
.pv-select-field .dropdown-menu>.active>a:hover{
    background-color:#c7a46f;
}
.pv-select-field .bootstrap-select .btn-default{
    color: #fff;
    background-color: #c7a46f;
    border-color: #1D1D1B;
    padding: 8px 20px 8px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    padding-left: 60px;
    padding-top: 18px;
    height: 52px;
}
.pv-select-field .btn-default.active, 
.pv-select-field .btn-default:active, 
.pv-select-field .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    border-radius: 0;
}
.pv-select-field .btn-light:not(:disabled):not(.disabled).active,
.pv-select-field .btn-light:not(:disabled):not(.disabled):active,
.pv-select-field .show>.btn-light.dropdown-toggle {
    color: #008CD8;
    background-color:#fff !important;
    border-color: #fff !important;
}
.pv-select-field .btn-light:hover {
    background-color: #fff;
}
.pv-select-field .dropdown-menu > li > a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

