html, body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    line-height: 1.36;
    letter-spacing: 0px;
    color: #000000;
}
img {
    display: block;
    max-width: 100%;
}
a:hover {
    text-decoration: none;
}
input:focus,
button:focus {
    outline:none !important;
    box-shadow: none !important;
}
@font-face {
    font-family: 'Futura LT Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Regular'), url('../fonts/futura/FuturaLT.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Book'), url('../fonts/futura/FuturaLT-Book.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Oblique'), url('../fonts/futura/FuturaLT-Oblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT BookOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT BookOblique'), url('../fonts/futura/FuturaLT-BookOblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT Light';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Light'), url('../fonts/futura/FuturaLT-Light.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondensedLight';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedLight'), url('../fonts/futura/FuturaLT-CondensedLight.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT LightOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT LightOblique'), url('../fonts/futura/FuturaLT-LightOblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondensedLightObl';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedLightObl'), url('../fonts/futura/FuturaLT-CondensedLightObl.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Condensed'), url('../fonts/futura/FuturaLT-Condensed.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondensedOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedOblique'), url('../fonts/futura/FuturaLT-CondensedOblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT ExtraBold'), url('../fonts/futura/FuturaLT-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Bold'), url('../fonts/futura/FuturaLT-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondensedBold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedBold'), url('../fonts/futura/FuturaLT-CondensedBold.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondensedExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedExtraBold'), url('../fonts/futura/FuturaLT-CondensedExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT ExtraBoldOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT ExtraBoldOblique'), url('../fonts/futura/FuturaLT-ExtraBoldOblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT BoldOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT BoldOblique'), url('../fonts/futura/FuturaLT-BoldOblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondExtraBoldObl';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondExtraBoldObl'), url('../fonts/futura/FuturaLT-CondExtraBoldObl.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT CondensedBoldOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedBoldOblique'), url('../fonts/futura/FuturaLT-CondensedBoldOblique.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Heavy'), url('../fonts/futura/FuturaLT-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Futura LT HeavyOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT HeavyOblique'), url('../fonts/futura/FuturaLT-HeavyOblique.woff') format('woff');
}

