@import url("_shared.css");
@import url("_login.css");
@import url('_effect.css');
@import url('_typo.css');


@import url('_overview.css');


@import url('_header.css');
@import url('_plant.css');
@import url('_plant-comparison.css');
@import url('_plant-comparison-1.css');
@import url('_devices.css');


@import url('_overview-list.css');
@import url('_events.css');

@import url('_notifications.css');
@import url('_documents.css');
@import url('_heatmap.css');



@import url('_login-popup.css');






