@import url("_shared.css");
@import url("_login.css");
@import url('_effect.css');
@import url('_typo.css');


@import url('_overview.css');

/*start of Shariful*/
@import url('_header.css');


/*start of Milon*/




/*start of Noyon*/
@import url('_notifications.css');




/*start of Rannojit*/


