@import url("_shared.css");
@import url("_login.css");
@import url('_effect.css');
@import url('_typo.css');


@import url('_overview.css');

/*start of Shariful*/
@import url('_header.css');
@import url('_plant.css');
@import url('_plant-comparison.css');
@import url('_plant-comparison-1.css');


/*start of Milon*/
@import url('_overview-list.css');



/*start of Noyon*/
@import url('_notifications.css');




/*start of Rannojit*/


